.howItWorks-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgba(233, 28, 36, 1);
}
.content-box {
  border-radius: 30px;
  border-width: 4px;
  display: flex;
  align-items: center;
  padding: 40px 32px;
  box-sizing: border-box;
  min-height: 200px;
  margin-right: 32px; 
  flex: 1; 
}

.content-box-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 1.4;
  text-transform: capitalize;
  color: rgba(41, 56, 142, 1);
  margin-bottom: 16px;
}
.content-box-description {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 27px;
  color: rgba(41, 56, 142, 1);
  text-transform: capitalize;
  margin-bottom: 12px;
  line-height: 1.4;
}
.content-box-additionalInfo {
  
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  color: rgba(233, 28, 36, 1);
  line-height: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.circle-number {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 50px;
  color: white;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: capitalize;
}


.content-box .flex-shrink-0 svg {
  width: 90px;
  height: 100px;
}


.step-container:not(:last-child)::after {
  content: '';
  position: absolute;
  left: calc(90px / 2);
  top: calc(100% + 16px); 
  width: 4px;
  height: 150px;
  background-color: #FF1520;
  z-index: 1;
  transform: translateY(-50%); 
}